body {
  color: #2E4B5B;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;

}

.container {
  margin: auto;
  width: 60%;
}

main {
  margin: 25px 0;
}

div {
  float: left;
}

/* Sections */

.aboutMePage {
  background-image: url('/images/aboutmeheader.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 100px;
}

.hero {
  background: #FFCECE linear-gradient(90deg, #FFCECE 48.45%, rgba(255, 255, 255, 0) 77.96%);
  background-image: url('/images/catheader.svg');
  background-position: right;
  background-repeat: no-repeat;
  height: 381px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  margin-left: 20%;
  padding-top: 50px;
  width: 570px;
}

.cloutSectioned {
  color: #F7F8FA;
  display: flex;
  flex-direction: column;
  background-color: #513D5B;
  padding: 20px 150px 5px;
  width: 100%;
  align-items: center;
}

.cloutLogoSection {
  color: #F7F8FA;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100%;
  align-items: center;
}

.nav {
  display: flex;
  margin: auto auto 25px;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
}

.logoAndName {
  float: left;
  margin-top: auto;
}

.navMenu {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-between;
  width: 160px;
  float: right;
}

.landingNavMenu {
  display: flex;
  margin-left: 80%;
  width: 160px;
  justify-content: space-between;
}

.nav .buttons {
  margin-bottom: 0;
}

.myWork {
  background-color: #F7F8FA;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.projects {
  display: flex;
  padding: 0 15px 35px;
  align-items: center;
  justify-content: center;
}

.cloutStorage {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #513D5B;
  background-image: url("/images/cloutstoragelogo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 125px;
  border-radius: 10px;
  width: 360px;
}

.busyBus {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #C8E2FF;
  background-image: url("/images/busybuslogo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  border-radius: 10px;
  height: 150px;
  width: 360px;
}

.cloutStorageHover, .busyBusHover {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(247, 248, 250, 0.9);
  opacity: 0;
  transition: 0.1s opacity ease-in-out;
}

.cloutStorageHover:hover, .busyBusHover:hover {
  opacity: 1;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}

.profile {
  display: flex;
  margin: auto;
  width: 50%;
  vertical-align: middle;
  text-align: center;
  justify-content: space-around;
}

.skills {
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 80%;
}

.testimonials {
  background-color: #F7F8FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
}

.oneTestimonial {
  margin: auto;
}

.blurb {
  margin: 20px;
  text-align: left;
}

footer {
  display: flex;
  background-color: #FFCECE;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 10px;
  align-items: center;
}

/* Bio sections */

.wholeAbout {
  margin: 100px 0;
  display: flex;
  flex-direction: row;
}

.bio {
  width: 50%;
  background-color: #FFFFFF;
  border: 1px solid #9CCDB6;
  box-shadow: 5px 5px 0px #9CCDB6;
  padding: 50px;
}

.shortBio {
  margin: auto 25px 0;
  width: 50%;
  display: flex;
  flex-direction: row;
}

.asterisk {
  margin: auto;
  font-size: 100px;
}

.personal {
  margin: auto;
  background-color: white;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-weight: 300;
  text-align: left;
}

.innerDialog {
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  border-left: 8px solid #C7D6DB;
  padding: 10px;
  margin: 24px 25px;
  width: 100%;
}

.userPersona {
  display: flex;
  flex-flow: column wrap;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 45px;
}

.centerText {
  text-align: center;
}

/** Typography  **/
p, h3, h4, h5, h6, a, ul, li, .bio p {
  color: #2E4B5B;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.cloutSectioned p, .cloutSectioned h2, .cloutSectioned h3, .cloutSectioned h4, .cloutSectioned h5, .cloutSectioned h6 {
  color: #F7F8FA;
  text-align: center;
}

.cloutSectioned li {
  color: #F7F8FA;
}

.cloutSectioned h3 {
  color: #F7F8FA;
  text-align: center;
  text-decoration: underline #FFCECE;
  font-size: 18px;
}

.cloutSectioned h4 {
  color: #F7F8FA;
  text-align: center;
  text-decoration: underline #FFCECE;
}

.titleCat {
  color: #2E4B5B;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 36px;
  text-decoration: underline #C7D6DB;
}

.logoCat {
  color: #2E4B5B;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
}

h2 {
  color: #2E4B5B;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 25px auto;
}

.aboutMe h3 {
  color: #2E4B5B;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 25px auto;
}

.cloutStoragePage h3 {
  text-align: center;
  text-decoration: underline #FFCECE;
  font-size: 18px;
}

.cloutStoragePage h4 {
  text-align: center;
  text-decoration: underline #FFCECE;
}

.skills h3 {
  margin: 0;
}

.cloutStorageHover h2, .busyBusHover h2 {
  margin: 0px;
}

b {
  font-weight: 600;
}

a {
  background-color: #C7D6DB;
}

a:hover {
  color: #2E4B5B;
  background: none;
  text-decoration: underline #9CCDB6;
}

.titleAndLogo a, .navMenu a, footer a, .landingNavMenu a {
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;
  font-size: 14px;
  text-decoration: none;
}

.navMenu a:hover {
  color: #2E4B5B;
  text-decoration: underline #C7D6DB;
}

.underline {
  text-decoration: underline #FFCECE;
}

.description {
  width: 100%;
}

.bio h4 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 24px;
}

/** Buttons **/
.buttons {
  background-color: #FFCECE;
  border: none;
  border-radius: 15px;
  box-shadow: .5px .5px rgba(46, 75, 91, 0.25);
  color: #2E4B5B;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 14px;
  padding: 9px 13px 9px;
  margin-bottom: 25px;
}

.titleLogo {
  padding-right: 25px;
  vertical-align: middle;
}

.smallLogo {
  padding-right: 11px;
  vertical-align: middle;
}

footer ul {
  list-style: none;
  margin: 15px;
  padding: 0;
}

footer li {
  float: left;
  margin: 0 10px;
}

footer li a {
  font-size: 16px;
}

ul {
  margin: 0px 0px 20px;
}

/* Pictures */
.profilePic {
  background-image: url("/images/profilePic.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  height: 150px;
  width: 150px;
}

.kelvin {
  background-image: url("/images/kelvin.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 75px;
  height: 75px;
  width: 75px;
}

.joanwilson {
  background-image: url("/images/joanwilson.png");
  background-size: contain;
  border-radius: 80px;
  height: 80px;
  width: 80px;
}

.jordantran {
  background-image: url("/images/jordantran.png");
  background-size: contain;
  border-radius: 80px;
  height: 80px;
  width: 80px;
}

.kevinscout {
  background-image: url("/images/kevinscout.png");
  background-size: contain;
  border-radius: 80px;
  height: 80px;
  width: 80px;
}

/* Horizontal rule */

hr {
  border: 1px solid #9CCDB6;
  margin: 25px auto;
  width: 100%;
}

/* Media queries */

/* Smartphones  */

@media screen and (max-width: 575px) {
    .cloutStorage, .busyBus {
      background-position: 10% center;
      height: 200px;
    }
    .cloutStorageHover, .busyBusHover {
      color: #F7F8FA;
      opacity: 1;
      background-color: transparent;
      text-align: left;
      line-height: 19px;
    }
    .cloutStorage h2, .cloutStorage .description, .cloutStorageHover h2 {
      color: #F7F8FA;
      margin-left: 40%;
      width: 50%;
    }
    .busyBus h2, .busyBus .description, .busyBusHover h2 {
      color: #2E4B5B;
      margin-left: 40%;
      width: 50%;
    }
}
