body {
  color: #2E4B5B;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;

}

.container {
  margin: 25px auto;
  width: 75%;
}

main {
  margin: 25px 0;
  position: relative;
}

/* Sections */

.aboutMePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../images/aboutmeheader.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 86px;
  width: 100%;
  justify-content: flex-start;
}

.contactPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: flex-start;
}

.hero {
  background: #FFCECE linear-gradient(90deg, #FFCECE 48.45%, rgba(255, 255, 255, 0) 77.96%);
  background-image: url('../images/catheader.jpg');
  background-position: right;
  background-repeat: no-repeat;
  height: 381px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  margin-left: 10%;
  padding-top: 50px;
  width: 570px;
}

.cloutSectioned {
  color: #F7F8FA;
  display: flex;
  flex-direction: column;
  background-color: #513D5B;
  padding: 20px 15px;
  width: auto;
  align-items: center;
}

.caseStudyRow, .caseStudyLogoRow {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  width: 83%;
}

.caseStudyStack {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  width: 83%;
}

.caseStudyRow2 {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 83%;
}

.rowRow {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.caseStudy50 {
  margin: auto;
  width: 60%;
}

.caseStudy33 {
  margin: auto;
  width: 30%;
}

.caseStudyTwoCol {
  margin: auto;
  width: 100%;
}

.compARow {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  width: 55%;
}

.caseStudyFourCol {
  margin: 0 auto;
  width: 20%;
}

.userPRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 25px auto;
}

.cloutLogoSection {
  color: #F7F8FA;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 100%;
  align-items: center;
}

.nav, .landingPageNav {
  background-color: inherit;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
  z-index: 1000;
  position: fixed;
  box-shadow: 1px 1px rgba(46, 75, 91, 0.25);
}

.theBody {
  padding-top: 92px;
}

.landingPageNav {
  display: none;
}

.logoAndName {
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 2.5%;
}

.navMenu {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-between;
  width: 215px;
  float: right;
  padding: 0 2.5%;
}

.landingNavMenu {
  display: flex;
  margin-left: 80%;
  width: 160px;
  justify-content: space-between;
}

.myWork {
  background-color: #F7F8FA;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.projects {
  display: flex;
  padding: 0 15px 35px;
  align-items: center;
  justify-content: center;
}

.sweetSpot {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #09603A;
  background-image: url("../images/sweetspotlogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  border-radius: 10px;
  width: 360px;
}

.cloutStorage {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #513D5B;
  background-image: url("../images/cloutstoragelogo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 125px;
  border-radius: 10px;
  width: 360px;
}

.busyBus {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #C8E2FF;
  background-image: url("../images/busybuslogo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  border-radius: 10px;
  height: 150px;
  width: 360px;
}

.cloutStorageHover, .busyBusHover, .sweetSpotHover {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(247, 248, 250, 0.9);
  opacity: 0;
  transition: 0.1s opacity ease-in-out;
}

.cloutStorageHover:hover, .busyBusHover:hover, .sweetSpotHover:hover {
  opacity: 1;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}

.profile {
  display: flex;
  margin: auto;
  width: 50%;
  vertical-align: middle;
  text-align: center;
  justify-content: space-around;
}

.skills {
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 80%;
}

.testimonials {
  background-color: #F7F8FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
}

.oneTestimonial {
  display: flex;
  margin: auto;
}

.kelvin {
  margin-left: 25px;
}

.blurb {
  margin: 15px;
  text-align: left;
}

footer {
  display: flex;
  background-color: #FFCECE;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  align-items: center;
  text-align: center;
}

.hideOnDesktop {
  display: none;
}

/* Bio sections */

.wholeAbout {
  margin: 100px 0;
  display: flex;
  flex-direction: row;
}

.bio {
  background-color: #FFFFFF;
  width: 50%;
  border: 1px solid #9CCDB6;
  box-shadow: 5px 5px 0px #9CCDB6;
  padding: 25px;
}

.shortBio {
  margin: auto 25px 0;
  width: 50%;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  height: 100px;
}

.asterisk {
  margin: auto;
  font-size: 100px;
  background-color: #FFFFFF;
  padding: 15px 0 0 15px;
}

.personal {
  margin: auto;
  background-color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-weight: 300;
  text-align: left;
  padding: 15px 15px 15px 0;
}

.innerDialog {
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  border-left: 8px solid #C7D6DB;
  padding: 10px;
  margin: 24px auto 24px 25px;
  width: auto%;
}

.userPersona {
  display: flex;
  flex-flow: column wrap;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
  padding: 30px 20px 30px 45px;
  margin: 0 10px;
  width: 33%;
  height: inherit;
}

.studyGuide {
  justify-content: center;
  width: 60%;
}

.cloutDescription {
  width: 30%;
  margin: auto;
}

.cloutFinal {
  width: 67.5%;
  margin: auto;
}

/** Typography  **/
p, h3, h4, h5, h6, a, ul, li, .bio p, label, ::placeholder {
  color: #2E4B5B;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

::placeholder {
  color: #999999;
}

.cloutSectioned p, .cloutSectioned h2, .cloutSectioned h3, .cloutSectioned h4, .cloutSectioned h5{
  color: #F7F8FA;
  text-align: center;
}

.cloutSectioned h6 {
  color: #F7F8FA;
}

.cloutSectioned li {
  color: #F7F8FA;
  list-style: circle;
  width:67%;
  margin: auto;
}

.userPersona li, .container li {
  list-style: circle;
}

.cloutSectioned h3 {
  font-family: 'Titillium Web', sans-serif;
  color: #F7F8FA;
  text-align: center;
  text-decoration: underline #FFCECE;
  font-size: 20px;
}

.cloutSectioned h4 {
  font-family: 'Titillium Web', sans-serif;
  color: #F7F8FA;
  text-align: center;
  text-decoration: underline #FFCECE;
  font-size: 18px;
}

.titleCat {
  color: #2E4B5B;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 36px;
  text-decoration: underline #C7D6DB;
}

.logoCat {
  color: #2E4B5B;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
}

h2 {
  color: #2E4B5B;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 25px auto;
}

.aboutMe h3 {
  color: #2E4B5B;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 25px auto;
}

.cloutStoragePage h2, .cloutSectioned h2 {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-size: 24px;
}

.cloutStoragePage h3 {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  text-decoration: underline #FFCECE;
  font-size: 20px;
}

.cloutStoragePage h4 {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  text-decoration: underline #FFCECE;
  font-size: 18px;
}

.skills h3 {
  margin: 0;
}

.cloutStorageHover h2, .busyBusHover h2, .sweetSpot h2 {
  margin: 0px;
}

b {
  font-weight: 600;
}

a {
  background-color: #C7D6DB;
}

.buttonLink {
  background: none;
}

a:hover {
  color: inherit;
  background: none;
  text-decoration: underline #9CCDB6;
}

.titleAndLogo a, .navMenu a, footer a, .landingNavMenu a {
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;
  font-size: 14px;
  text-decoration: none;
}

.navMenu a:hover, .landingNavMenu a:hover {
  color: #2E4B5B;
  text-decoration: underline #C7D6DB;
}

a.activePage {
  text-decoration: underline #C7D6DB;
}

.underline {
  text-decoration: underline #FFCECE;
}

.description {
  width: 100%;
}

.bio h4, .contactPage h1 {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 24px;
}

.centerText {
  text-align: center;
}

/** Buttons **/
.buttons {
  background-color: #FFCECE;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 2px rgba(46, 75, 91, 0.25);
  color: #2E4B5B;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 14px;
  padding: 9px 13px 9px;
  margin: 50px 0px;
  outline: none;
  cursor: pointer;
}

a.buttons, .titleAndLogo a.buttons, .navMenu a.buttons, footer a.buttons, .landingNavMenu a.buttons {
  background-color: #FFCECE;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 2px rgba(46, 75, 91, 0.25);
  color: #2E4B5B;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 14px;
  padding: 9px 13px 9px;
  margin: 25px 0px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

a.buttons:hover, .titleAndLogo a.buttons:hover, .navMenu a.buttons:hover, footer a.buttons:hover, .landingNavMenu a.buttons:hover {
  text-decoration: none;
  background-color: #FFBBBB;
  outline: none;
  cursor: pointer;
}

.buttons:hover {
  background-color: #FFBBBB;
  outline: none;
  cursor: pointer;
}

.buttons:active {
  box-shadow: .5px 1px rgba(46, 75, 91, 0.25);
  transform: translateY(.5px);
  outline: none;
  cursor: pointer;
}

.cloutSectioned .buttons {
  margin: 0px 0px 25px;
}

.titleLogo {
  padding-right: 25px;
  vertical-align: middle;
}

.smallLogo {
  padding-right: 11px;
  vertical-align: middle;
}

footer ul {
  list-style: none;
  margin: 15px;
  padding: 0;
}

footer li {
  float: left;
  margin: 0 10px;
}

footer li a {
  font-size: 16px;
}

/* Horizontal rule */

hr {
  border: 1px solid #9CCDB6;
  margin: 25px auto;
  width: 100%;
}

.finalMockUps {
  width: 75%;
  max-width: 1000px;
}

/* Form */

form {
  margin: auto;
  text-align: center;
}

label {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 358px;
  min-width: 283px;
  text-align: left;
  color: #2E4B5B;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
}

input[type=text], textarea {
  margin: 10px auto 25px auto;
  display: block;
  width: 50%;
  max-width: 358px;
  min-width: 283px;
  padding: 15px;
  border: 1px solid #2E4B5B;
  box-sizing: border-box;
  border-radius: 3px;
  color: #2E4B5B;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
}

/* Media queries */

/* Smartphones, Tablets  */

@media screen and (max-width: 992px) {

    .landingPageNav, .nav {
      display: flex;
      justify-content: space-around;
      margin: auto;
    }

    .hero {
      background-size: auto 250px;
      height: 250px;
      width: 100%;
    }

    .heroTitle {
      margin-left: 5%;
      margin-bottom: 5%;
      width: 50%;
      padding: 2%;
    }

    .container {
      margin: auto;
      width: 95%;
    }

    .aboutMePage .container {
      margin: auto;
      width: 100%;
    }

    .landingNavMenu {
      display: none;
    }

    .heroTitle .titleLogo, .heroTitle .titleCat {
      display: none;
    }

    .projects, .profile, .wholeAbout {
      display: flex;
      flex-flow: column wrap;
    }

    .cloutStorage, .busyBus, .sweetSpot {
      margin: 5px 0 5px 0;
      background-position: 10% center;
      height: 200px;
      flex-basis: 100%;
    }

    .cloutStorageHover, .busyBusHover, .sweetSpotHover {
      color: #F7F8FA;
      opacity: 1;
      background-color: transparent;
      text-align: left;
      line-height: 19px;
    }

    .cloutStorage h2, .cloutStorage .description, .cloutStorageHover h2, .sweetSpot h2, .sweetSpot .description, .sweetSpotHover h2 {
      color: #F7F8FA;
      margin-left: 40%;
      width: 50%;
    }

    .busyBus h2, .busyBus .description, .busyBusHover h2 {
      color: #2E4B5B;
      margin-left: 40%;
      width: 50%;
    }

    .profile .blurb {
      text-align: center;
    }

    .skills, .compARow {
      display: flex;
      flex-wrap: wrap;
      width: 60%;
      margin: auto;
    }

    .skill, .caseStudyFourCol {
      margin: 10px;
      display: flex;
      flex-direction: column;
      flex-basis: 95%;
    }

    .caseStudyFourCol {
      margin: 0 auto 15px;
    }

    .aboutMePage {
      background-image: url('../images/aboutmeheadermobile.jpg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0 75px;
      width: 100%;
    }

    .wholeAbout {
      background: transparent;
      width: 100%;
      margin: 25% auto;
    }

    .bio {
      background: transparent;
      display: flex;
      flex-direction: column;
      width: auto;
      margin-top: 75px;
      padding: 25px;
      border: none;
      box-shadow: none;
    }

    .wholeAbout .innerDialog {
      width: inherit;
      margin-right: 0%;
    }

    .asterisk {
      display: none;
    }

    .shortBio {
      width: auto;
      margin: 20px;
    }

    .caseStudyStack {
      display: flex;
      flex-direction: column;
    }

    .caseStudyRow, .caseStudyRow2 {
      flex-direction: column;
      align-items: center;
      width: 95%;
    }

    .caseStudy33 {
      width: 75%;
    }

    .userPRow {
      flex-direction: column;
    }

    .caseStudy50, .caseStudyTwoCol {
      margin: 20px auto;
      width: 95%;
    }

    .userPersona {
      width: 80%;
      margin: 10px;
    }

    .mobileSize {
      width: 50%;
      padding-bottom: 10px;
    }

    .hideOnDesktop {
      display: block;
    }

    .hideOnMobile {
      display: none;
    }

    .cloutFinal {
      width: auto;
    }

    .cloutDescription {
      width: auto;
      margin: 20px auto;
    }

    .myWork {
      background-color: inherit;
    }

}

/* Small phones */

@media screen and (max-width: 575px) {

  .hero {
    padding-top: 30px;
    background-image: url('../images/catheadermobile.jpg');
    background-position: 75%;
    background-size: auto 100%;
  }

  .heroTitle h2 {
    font-size: 17px;
    margin: 10px 0 20px auto;
  }

  .heroTitle {
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
  }

  .cloutStorage, .busyBus, .sweetSpot {
    margin: 5px 0 5px 0;
    background-position: 10% center;
    background-size: 30%;
    flex-basis: 100%;
    width: 95%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .logoCat {
    display: none;
  }

}
